@{
    ViewData["Title"] = "Authors";
}

<div class="text-center">
    <h1 class="display-4">Authors</h1>
    <span>This project was made in educational purpose as a Project for University of Information Technology and Management in Rzeszow</span> 
    <br/> <br/>
    <span>Made by student Daniyar Alkulov w68615</span>
    
    
</div>